<div id="fb-root" class=" fb_reset">
    <script async="" src="http://connect.facebook.net/en_US/all.js">
    </script>
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px; ">
    </div>
</div>

<script>
    window.fbAsyncInit = function() {
          FB.init({
            appId  : '<%=raw(ENV["FB_APP_ID"]) %>',
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true  // parse XFBML
          });
        FB.Canvas.setAutoResize(true,88);
        FB.XFBML.parse();
        FB.Event.subscribe('xfbml.render', function(response) {
           FB.Canvas.setAutoResize(true,88);
        });
    };
    (function() {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol +
      '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  


</script>

<script>
function postToFacebook() {
    FB.ui(   {     
        method: 'feed',
        name: 'Friend Mapper',
        link: 'http://apps.facebook.com/friends_mapper',
        picture: 'http://175jay.com/friendmapper/images/red_map.png',
        caption: 'Whats the most unexpected place you have a friend?',
        description: 'Find out! Friend Mapper shows your the cartography of your friendships.',
        message: ''   
        },   
    function(response) { } );
}
		</script>

<%= raw Cartographer::Header.new.to_s %>
<%= raw @map.to_html %>

		<div id="container">
			<div id="banner">
				<p>
					<img src="http://175jay.com/friendmapper/images/FriendMapper_PNGbanner.png" width="525" height="86" alt="Friend Mapper" />
				</p>
			</div>
			<div id="map" > </div>
			<div id="form">
				<input type="image" src="http://175jay.com/friendmapper/images/LikeButton.png"  onClick="postToFacebook();return false;">
			</div>
		</div>
