body { background-color: #fff; color: #333; }

#container {
  width: 750px;
  height: 700px;
  background-color: #29ABE2;
  margin: 0 auto;
  padding-left: -10px;
  padding-right: 0px;
}

#map {
  width: 700px;
  height: 450px;
  border-style: solid;
  border-width: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-color: #B8B8B8;
}

#banner img { 
  margin-left: 117.5px;
}

#infowindow {
	border-width: 2px;
	border-spacing: ;
	border-style: none;
	border-color: blue;
	border-collapse: collapse;
}

#form {
    margin-top: 20px;
	padding: 10px;
	margin-left: 260px;
}
th {
	border-width: 2px;
	padding: 1px;
	border-style: solid;
	border-color: gray;
}
td {
	font-family: 'Franklin Gothic Demi'	;
	border-width: 2px;
	padding: 1px;
	border-style: none;
	border-color: gray;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 0px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #FFFFFF; background-color:#3B5998; }

div.field, div.actions {
  margin-bottom: 10px;
}

h1,h2,h3 { 
	font-family: "Franklin Gothic Demi", Verdana, Arial, sans-serif; 
	color: #3B5998
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
